@import "bace";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-darck;
    color: white;
}

////////ُStart header
header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url(../img/bg.jpeg);
    background-size: cover;
    position: relative;
    text-align: center;
    align-items: center;
    color: $color-cecendert;
}

.Header-baner {
    display: flex;
    justify-content: center;
    padding: 5% 10px;
    text-align: center;
    //padding-top: 50%;

    @media (max-width:800px) {
        padding-top: 10%;
        ;
    }

    @media (max-width:600px) {
        padding-top: 20%;
        ;
    }

    @media (max-width:400px) {
        padding-top: 30%;
        ;
    }


    .logo {
        border-radius: 100%;
        border: 3px solid $color-primery;
        align-items: center;
        text-align: center;
        width: 100px;
        height: 100px;
        margin: 0 10px;

        @media (max-width:700px) {
            width: 70px;
            height: 70px;

            svg {
                height: 80%;
                margin: 10% 0;
            }
        }


    }

    .Header-baner-text {

        h1 {
            font-family: $font-sahel;
            font-weight: 100;
            font-size: 50px;
            letter-spacing: -2px;

            @media (max-width:800px) {
                font-size: 40px;
            }

            @media (max-width:600px) {
                font-size: 35px;
            }


        }

        p {
            font-family: $font-sahel;
            letter-spacing: 2px;
            line-height: 50px;
            font-size: 18px;
        }
    }
}

.footer-baner {



    p {
        font-size: 60px;
        color: $color-cecendert;
        font-family: $font-sahel;
        font-weight: 100;

        @media (max-width:900px) {
            font-size: 45px;
        }

        @media (max-width:600px) {
            font-size: 35px;
        }
    }
}

.subject {
    @include fontUnset();
    font-size: 60px;
    font-weight: unset;
    color: $color-primery;

    @media (max-width:900px) {
        font-size: 45px;
    }
}

.main-btn {
    border: 1px solid $color-primery;
    width: 170px;
    height: 45px;
    background-color: rgba(240, 248, 255, 0);
    color: $color-primery;
    font-size: 15px;
    font-weight: 800;
    margin: 50px 0;
    transition: all .5s;
    font-family: $font-sahel;

    &:hover {
        background-color: $color-primery;
        color: $color-black;
    }
}

///////End Header

///////////////////Start main
main {
    padding: 100px 0;
}

.about {
    text-align: center;
    align-items: center;
    @include flexBox(center);
    line-height: 60px;
    width: 100%;
    flex-wrap: wrap;

    &-text {
        width: 50%;

        @media (max-width:800px) {
            width: 70%;
        }

        .about-paragraf {
            font-family: $font-Gulzar;
            font-size: 20px;

            @media (max-width:500px) {
                height: 300px;
                overflow: auto;
            }
        }

        h1 {
            font-size: 50px;


            @media (max-width:800px) {

                font-size: 40px;
            }
        }


    }

    &-Star {
        i {
            padding: 5px;
            color: $color-primery;
        }
    }

    &-img {
        img {
            width: 350px;
            position: absolute;
            left: -0px;
            top: 780px;
            filter: drop-shadow(2px 4px 6px black);
            z-index: -10;
            opacity: .6;

            @media (max-width:800px) {
                opacity: .4;
            }

            @media (max-width:800px) {
                width: 300px;
                top: 650px;
            }
        }


    }


}

.gallery-main {
    @include center();
    @include flexBox(none);
    overflow: scroll;
    overflow-y: hidden;


    @media (min-width:700px) {
        overflow: hidden;
        flex-wrap: wrap;
    }

    .gallery-card {
        position: relative;
        width: 100%;
        height: 30vh;

        @media (min-width:700px) {
            width: 33.3333%;
            height: 35vh;
        }

        &:hover .gallery-card-overlay {
            left: 0;

        }
    }

    .gallery-card-overlay {
        position: absolute;
        background-color: rgba(211, 171, 85, 0.6);
        @include FUll();
        left: -100%;
        transition: left 1s;
        line-height: 60px;

        @media (max-width:700px) {
            line-height: 50px;
        }

        h1 {
            margin-top: 10%;
            font-family: $font-nastaliq;
            font-size: 50px;
            font-weight: 500;

            @media (max-width:700px) {
                font-size: 45px;
            }

        }

        p {
            font-family: $font-sahel;
            font-size: 25px;

            font-size: 20px;
        }
    }


    img {
        object-fit: cover;
        width: 300px;
        height: 100%;


        @media (min-width:700px) {
            width: 100%;
            object-fit: cover;
        }

    }




}

.btn-gallery {
    width: 150px;
    height: 40px;
    color: $color-primery;
    background-color: $color-withe;
    font-size: 14px;
    border: 2px solid $color-primery;
    border-radius: 30px;
    font-weight: bold;
    font-family: $font-sahel;

    @media (max-width:800px) {
        width: 130px;
        height: 30px;
    }
}

///////////////Foter'
footer {
    margin: -50px 0 70px;

    @media (max-width:800px) {
        .Header-baner {
            margin-top: 0;
            padding: 0;
        }
    }
}

.social-media {
    @include flexBox(Center);

    .social-media-item {
        font-size: 50px;
        list-style: none;

        @media (max-width:500px) {
            font-size: 40px;
           
        }
        @media (max-width:800px) {
            margin: 20px 0;
        }
    }
}

.social-media-link {
    color: $color-cecendert;
    letter-spacing: 30px;
    transition: color 1s;

    &:hover {
        color: $color-primery;
    }
}

/////////////menu
.menu-H {
    width: 50px;
    height: 5px;
    background-color: $color-primery;
    line-height: 0px;
    margin-top: 10px;
    transform-origin: right;
    transition: all .5s .5s;

   

}

.menu {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 25;

    @media (max-width:500px) {
        right: 20px;
    }
}

nav {
    position: relative;

    .navbar {
        @include flexBox();


        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-darck;
            position: fixed;
            left: -50vw;
            transition: all .5s;
            @include center;
            z-index: 22;

            @media (max-width:600px) {
                padding-top: 50%;
            }
        }

        &-right {
            position: fixed;
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            right: -50vw;
            transition: all .5s;
            z-index: 22;


            ul {
                margin-top: 10%;

                @media (max-width:600px) {
                    margin-top: 30%;
                }

                @media (max-width:400px) {
                    margin-top: 80%;
                }

                li {
                    list-style: none;
                }

                a {
                    font-weight: 300;
                    letter-spacing: 2px;
                    align-items: center;
                    text-transform: uppercase;
                    color: $color-cecendert;
                    display: block;
                    margin: 20px;
                    font-size: 45px;
                    text-decoration: none;
                    text-align: center;
                    font-family: $font-NotoNaskhArabic;
                    transition: all .5s;

                    @media (max-width:900px) {
                        font-size: 35px;
                    }

                    @media (max-width:600px) {
                        font-size: 30px;
                    }

                    @media (max-width:400px) {
                        font-size: 25px;
                    }

                    &:hover {
                        color: $color-primery;
                        letter-spacing: 4px;

                    }
                }

            }

        }
    }
}

.checkbox:checked~.navbar .navbar-left {
    left: 0;
}

.checkbox:checked~.navbar .navbar-right {
    right: 0;
}

.checkbox {
    display: none;
}

.left-img-1 {
    top: 15%;
    left: 15%;

    @media (max-width:500px) {
        display: none;
    }
}

.left-img-2 {
    top: 35%;
    left: 25%;

    @media (max-width:900px) {
        top: 28%;
    }

    @media (max-width:600px) {
        top: 20%;
    }

    @media (max-width:500px) {
        display: none;
    }
}

.left-img-3 {
    top: 55%;
    left: 35%;

    @media (max-width:900px) {
        top: 40%;
    }

    @media (max-width:600px) {
        top: 25%;
    }

    @media (max-width:500px) {
        display: none;
    }
}

.left-img-4 {
    @media (min-width:500px) {
        display: none;
    }

    filter: drop-shadow(2px 4px 6px black);
    width: 100%;
    left: 10%;
    right: 10%;

}

.left-img {
    width: 50%;
    position: absolute;
    box-shadow: 0 15px 60px rgba($color-black, 0.4);
    opacity: .7;
    border-radius: 10px;

    @media (max-width:500px) {
        box-shadow: none;
        width: 80%;
    }

    @media (max-width:600px) {
        width: 60%;
    }

}

.menuLabable {
    position: fixed;
    transition: transform .5s, -webkit-transform .5s;
}

.checkbox:checked~.menu .menuLabable {
    transform: rotateZ(90deg);
}

.checkbox:checked~.menu .hambergery-line1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked~.menu .hambergery-line2 {
    opacity: 0;
}

.checkbox:checked~.menu .hambergery-line3 {
    transform: rotateZ(40deg);
}