@import "bace";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-darck;
    color: white;
}

////////ُStart header
header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url(../img/bg.jpeg);
    background-size: cover;
    position: relative;
    text-align: center;
    align-items: center;
    color: $color-cecendert;
}

.Header-baner {
    display: flex;
    justify-content: center;
    padding: 5% 10px;
    text-align: center;

    @media (max-width:800px) {
        padding-top: 10%;
        ;
    }

    @media (max-width:600px) {
        padding-top: 20%;
        ;
    }


    .logo {
        border-radius: 100%;
        border: 3px solid $color-primery;
        align-items: center;
        text-align: center;
        width: 100px;
        height: 100px;
        margin: 0 10px;
    }

    .Header-baner-text {

        h1 {
            font-family: $font-sahel;
            font-weight: 100;
            font-size: 50px;
            letter-spacing: -2px;

            @media (max-width:800px) {
                font-size: 40px;
            }

            @media (max-width:600px) {
                font-size: 35px;
            }


        }

        p {
            font-family: $font-sahel;
            letter-spacing: 2px;
            line-height: 50px;
            font-size: 18px;
        }
    }
}

.footer-baner {



    p {
        font-size: 60px;
        color: $color-cecendert;
        font-family: $font-sahel;
        font-weight: 100;

        @media (max-width:900px) {
            font-size: 45px;
        }

        @media (max-width:600px) {
            font-size: 35px;
        }
    }
}

.subject {
    @include fontUnset();
    font-size: 60px;
    font-weight: unset;
    color: $color-primery;

    @media (max-width:900px) {
        font-size: 45px;
    }
}

.main-btn {
    border: 1px solid $color-primery;
    width: 170px;
    height: 45px;
    background-color: rgba(240, 248, 255, 0);
    color: $color-primery;
    font-size: 15px;
    font-weight: 800;
    margin: 50px 0;
    transition: all .5s;
    font-family: $font-sahel;

    &:hover {
        background-color: $color-primery;
        color: $color-black;
    }
}

///////End Header

///////////////////Start main
main {
    padding: 100px 0;
}

.about {
    text-align: center;
    align-items: center;
    @include flexBox(center);
    line-height: 60px;
    width: 100%;
    flex-wrap: wrap;

    &-text {
        width: 50%;

        @media (max-width:800px) {
            width: 70%;
        }

        .about-paragraf {
            font-family: $font-Gulzar;
            font-size: 20px;
            //line-height: 0;
        }

        h1 {
            font-size: 50px;


            @media (max-width:800px) {

                font-size: 40px;
            }
        }

        p {
            font-size: 40px;
            font-family: $font-sahel;
            //line-height: 80px;
            color: $color-cecendert;
        }
    }

    &-Star {
        i {
            padding: 5px;
            color: $color-primery;
        }
    }

    &-img {
        img {
            width: 350px;
            position: absolute;
            left: -0px;
            top: 780px;
            filter: drop-shadow(2px 4px 6px black);
            z-index: -10;
            opacity: .6;

            @media (max-width:800px) {
                opacity: .4;
            }
        }


    }


}

.gallery-main {
    @include center();
    @include flexBox(center);
    flex-wrap: wrap;


    .gallery-card {
        width: 33.3333%;
        height: 30vw;
        position: relative;
        z-index: 10;
        overflow: hidden;

        @media (max-width:800px) {
            width: 50%;
        }


        img {
            @include FUll();
            object-fit: cover;
            opacity: .8;
            object-fit: cover;

            &:hover {
                .gallery-card-overlay {
                    left: 100%;
                }
            }
        }

    }

}

.gallery-card-overlay {
    background-color: rgba(211, 171, 85, 0.6);
    @include FUll();
    position: absolute;
    left: 100%;
    visibility: hidden;
    transition: left 1s;
    line-height: 80px;

    h1 {
        margin-top: 20%;
        font-family: $font-nastaliq;
        font-size: 50px;
        font-weight: 500;

        @media (max-width:900px) {
            font-size: 40px;
        }

        @media (max-width:800px) {
            margin-top: 10%;
            font-size: 35px;
        }

        @media (max-width:600px) {

            font-size: 30px;
        }
    }

    p {
        font-size: 30px;
        font-family: $font-sahel;

        @media (max-width:1000px) {
            font-size: 25px;
        }

        @media (max-width:800px) {
            font-size: 20px;
        }

        @media (max-width:600px) {
            font-size: 15px;
        }
    }

    @media (max-width:1000px) {
        line-height: 60px;
    }

    @media (max-width:900px) {
        line-height: 50px;
    }

    @media (max-width:600px) {
        line-height: 40px;
    }

}

.gallery-card:hover .gallery-card-overlay {
    left: 0;
    visibility: visible;
    z-index: 2;
}

.btn-gallery {
    width: 150px;
    height: 40px;
    color: $color-primery;
    background-color: $color-withe;
    font-size: 14px;
    border: 2px solid $color-primery;
    border-radius: 30px;
    font-weight: bold;
    font-family: $font-sahel;

    @media (max-width:800px) {
        width: 130px;
        height: 30px;
    }
}

///////////////Foter'
footer {
    margin: -50px 0 70px;
}

.social-media {
    @include flexBox(Center);

    .social-media-item {
        font-size: 50px;
        list-style: none;
    }
}

.social-media-link {
    color: $color-cecendert;
    letter-spacing: 30px;
    transition: color 1s;

    &:hover {
        color: $color-primery;
    }
}

/////////////menu
.menu-H {
    width: 50px;
    height: 5px;
    background-color: $color-primery;
    line-height: 0px;
    margin-top: 10px;
}
///////////////navbar
nav {
    @include FUll();
    position: fixed;
    z-index: 22;
   
    
}
.nav{
    @include flexBox();
    height: 100%;
    @include center();
    position: relative;
}

.navbar {
    height: 100%;
    width: 50%;
    background-color: red;
    @include center();
    transition: all 1s;
    position: absolute;
}
.navbar2{
    left: -100%;
    @include flexBox();
    img{
        height: 300px;
    }
}
.navbar1{
    right: -100%;
}
.menu:visited .navbar1{
    right: 60%;
}