@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Katibeh&family=Lalezar&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Gulzar&family=Katibeh&family=Lalezar&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scheherazade+New:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Gulzar&family=Katibeh&family=Lalezar&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scheherazade+New:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Gulzar&family=Katibeh&family=Lalezar&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scheherazade+New:wght@400;500;600;700&display=swap");
@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333333;
  color: white;
}

header {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url(../img/bg.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/bg.jpeg);
  background-size: cover;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bbb;
}

.Header-baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 10px;
  text-align: center;
}

@media (max-width: 800px) {
  .Header-baner {
    padding-top: 10%;
  }
}

@media (max-width: 600px) {
  .Header-baner {
    padding-top: 20%;
  }
}

@media (max-width: 400px) {
  .Header-baner {
    padding-top: 30%;
  }
}

.Header-baner .logo {
  border-radius: 100%;
  border: 3px solid #d3ab55;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

@media (max-width: 700px) {
  .Header-baner .logo {
    width: 70px;
    height: 70px;
  }
  .Header-baner .logo svg {
    height: 80%;
    margin: 10% 0;
  }
}

.Header-baner .Header-baner-text h1 {
  font-family: Sahel, Tahoma;
  font-weight: 100;
  font-size: 50px;
  letter-spacing: -2px;
}

@media (max-width: 800px) {
  .Header-baner .Header-baner-text h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .Header-baner .Header-baner-text h1 {
    font-size: 35px;
  }
}

.Header-baner .Header-baner-text p {
  font-family: Sahel, Tahoma;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 18px;
}

.footer-baner p {
  font-size: 60px;
  color: #bbb;
  font-family: Sahel, Tahoma;
  font-weight: 100;
}

@media (max-width: 900px) {
  .footer-baner p {
    font-size: 45px;
  }
}

@media (max-width: 600px) {
  .footer-baner p {
    font-size: 35px;
  }
}

.subject {
  font-family: "Gulzar", serif;
  font-weight: unset;
  font-size: 60px;
  font-weight: unset;
  color: #d3ab55;
}

@media (max-width: 900px) {
  .subject {
    font-size: 45px;
  }
}

.main-btn {
  border: 1px solid #d3ab55;
  width: 170px;
  height: 45px;
  background-color: rgba(240, 248, 255, 0);
  color: #d3ab55;
  font-size: 15px;
  font-weight: 800;
  margin: 50px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family: Sahel, Tahoma;
}

.main-btn:hover {
  background-color: #d3ab55;
  color: #000;
}

main {
  padding: 100px 0;
}

.about {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 60px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text {
  width: 50%;
}

@media (max-width: 800px) {
  .about-text {
    width: 70%;
  }
}

.about-text .about-paragraf {
  font-family: "Gulzar", serif;
  font-size: 20px;
}

@media (max-width: 500px) {
  .about-text .about-paragraf {
    height: 300px;
    overflow: auto;
  }
}

.about-text h1 {
  font-size: 50px;
}

@media (max-width: 800px) {
  .about-text h1 {
    font-size: 40px;
  }
}

.about-Star i {
  padding: 5px;
  color: #d3ab55;
}

.about-img img {
  width: 350px;
  position: absolute;
  left: -0px;
  top: 780px;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  z-index: -10;
  opacity: .6;
}

@media (max-width: 800px) {
  .about-img img {
    opacity: .4;
  }
}

@media (max-width: 800px) {
  .about-img img {
    width: 300px;
    top: 650px;
  }
}

.gallery-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  overflow: scroll;
  overflow-y: hidden;
}

@media (min-width: 700px) {
  .gallery-main {
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery-main .gallery-card {
  position: relative;
  width: 100%;
  height: 30vh;
}

@media (min-width: 700px) {
  .gallery-main .gallery-card {
    width: 33.3333%;
    height: 35vh;
  }
}

.gallery-main .gallery-card:hover .gallery-card-overlay {
  left: 0;
}

.gallery-main .gallery-card-overlay {
  position: absolute;
  background-color: rgba(211, 171, 85, 0.6);
  width: 100%;
  height: 100%;
  left: -100%;
  -webkit-transition: left 1s;
  transition: left 1s;
  line-height: 60px;
}

@media (max-width: 700px) {
  .gallery-main .gallery-card-overlay {
    line-height: 50px;
  }
}

.gallery-main .gallery-card-overlay h1 {
  margin-top: 10%;
  font-family: Nastaliq, Tahoma;
  font-size: 50px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .gallery-main .gallery-card-overlay h1 {
    font-size: 45px;
  }
}

.gallery-main .gallery-card-overlay p {
  font-family: Sahel, Tahoma;
  font-size: 25px;
  font-size: 20px;
}

.gallery-main img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 100%;
}

@media (min-width: 700px) {
  .gallery-main img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.btn-gallery {
  width: 150px;
  height: 40px;
  color: #d3ab55;
  background-color: #fff;
  font-size: 14px;
  border: 2px solid #d3ab55;
  border-radius: 30px;
  font-weight: bold;
  font-family: Sahel, Tahoma;
}

@media (max-width: 800px) {
  .btn-gallery {
    width: 130px;
    height: 30px;
  }
}

footer {
  margin: -50px 0 70px;
}

@media (max-width: 800px) {
  footer .Header-baner {
    margin-top: 0;
    padding: 0;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: Center;
      -ms-flex-pack: Center;
          justify-content: Center;
}

.social-media .social-media-item {
  font-size: 50px;
  list-style: none;
}

@media (max-width: 500px) {
  .social-media .social-media-item {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .social-media .social-media-item {
    margin: 20px 0;
  }
}

.social-media-link {
  color: #bbb;
  letter-spacing: 30px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.social-media-link:hover {
  color: #d3ab55;
}

.menu-H {
  width: 50px;
  height: 5px;
  background-color: #d3ab55;
  line-height: 0px;
  margin-top: 10px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
}

.menu {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 25;
}

@media (max-width: 500px) {
  .menu {
    right: 20px;
  }
}

nav {
  position: relative;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "Center";
      -ms-flex-pack: "Center";
          justify-content: "Center";
}

nav .navbar-left {
  width: 50vw;
  height: 100vh;
  background-color: #333333;
  position: fixed;
  left: -50vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 22;
}

@media (max-width: 600px) {
  nav .navbar-left {
    padding-top: 50%;
  }
}

nav .navbar-right {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  right: -50vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 22;
}

nav .navbar-right ul {
  margin-top: 10%;
}

@media (max-width: 600px) {
  nav .navbar-right ul {
    margin-top: 30%;
  }
}

@media (max-width: 400px) {
  nav .navbar-right ul {
    margin-top: 80%;
  }
}

nav .navbar-right ul li {
  list-style: none;
}

nav .navbar-right ul a {
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #bbb;
  display: block;
  margin: 20px;
  font-size: 45px;
  text-decoration: none;
  text-align: center;
  font-family: "Noto Naskh Arabic", serif;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 900px) {
  nav .navbar-right ul a {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  nav .navbar-right ul a {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  nav .navbar-right ul a {
    font-size: 25px;
  }
}

nav .navbar-right ul a:hover {
  color: #d3ab55;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar .navbar-left {
  left: 0;
}

.checkbox:checked ~ .navbar .navbar-right {
  right: 0;
}

.checkbox {
  display: none;
}

.left-img-1 {
  top: 15%;
  left: 15%;
}

@media (max-width: 500px) {
  .left-img-1 {
    display: none;
  }
}

.left-img-2 {
  top: 35%;
  left: 25%;
}

@media (max-width: 900px) {
  .left-img-2 {
    top: 28%;
  }
}

@media (max-width: 600px) {
  .left-img-2 {
    top: 20%;
  }
}

@media (max-width: 500px) {
  .left-img-2 {
    display: none;
  }
}

.left-img-3 {
  top: 55%;
  left: 35%;
}

@media (max-width: 900px) {
  .left-img-3 {
    top: 40%;
  }
}

@media (max-width: 600px) {
  .left-img-3 {
    top: 25%;
  }
}

@media (max-width: 500px) {
  .left-img-3 {
    display: none;
  }
}

.left-img-4 {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  width: 100%;
  left: 10%;
  right: 10%;
}

@media (min-width: 500px) {
  .left-img-4 {
    display: none;
  }
}

.left-img {
  width: 50%;
  position: absolute;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: .7;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .left-img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 80%;
  }
}

@media (max-width: 600px) {
  .left-img {
    width: 60%;
  }
}

.menuLabable {
  position: fixed;
  transition: transform .5s, -webkit-transform .5s;
}

.checkbox:checked ~ .menu .menuLabable {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.checkbox:checked ~ .menu .hambergery-line1 {
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
}

.checkbox:checked ~ .menu .hambergery-line2 {
  opacity: 0;
}

.checkbox:checked ~ .menu .hambergery-line3 {
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}
/*# sourceMappingURL=style.css.map */