@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Katibeh&family=Lalezar&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Gulzar&family=Katibeh&family=Lalezar&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scheherazade+New:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Gulzar&family=Katibeh&family=Lalezar&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scheherazade+New:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Gulzar&family=Katibeh&family=Lalezar&family=Lobster&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Piedra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scheherazade+New:wght@400;500;600;700&display=swap");
@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333333;
  color: white;
}

header {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url(../img/bg.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/bg.jpeg);
  background-size: cover;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bbb;
}

.Header-baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 10px;
  text-align: center;
}

@media (max-width: 800px) {
  .Header-baner {
    padding-top: 10%;
  }
}

@media (max-width: 600px) {
  .Header-baner {
    padding-top: 20%;
  }
}

@media (max-width: 400px) {
  .Header-baner {
    padding-top: 25%;
  }
}

.Header-baner .logo {
  border-radius: 100%;
  border: 3px solid #d3ab55;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

.Header-baner .Header-baner-text h1 {
  font-family: Sahel, Tahoma;
  font-weight: 100;
  font-size: 50px;
  letter-spacing: -2px;
}

.Header-baner .Header-baner-text h1:hover .navbar1 {
  right: 0;
}

@media (max-width: 800px) {
  .Header-baner .Header-baner-text h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .Header-baner .Header-baner-text h1 {
    font-size: 35px;
  }
}

.Header-baner .Header-baner-text p {
  font-family: Sahel, Tahoma;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 18px;
}

.footer-baner p {
  font-size: 60px;
  color: #bbb;
  font-family: Sahel, Tahoma;
  font-weight: 100;
}

@media (max-width: 900px) {
  .footer-baner p {
    font-size: 45px;
  }
}

@media (max-width: 600px) {
  .footer-baner p {
    font-size: 35px;
  }
}

.subject {
  font-family: "Gulzar", serif;
  font-weight: unset;
  font-size: 60px;
  font-weight: unset;
  color: #d3ab55;
}

@media (max-width: 900px) {
  .subject {
    font-size: 45px;
  }
}

.main-btn {
  border: 1px solid #d3ab55;
  width: 170px;
  height: 45px;
  background-color: rgba(240, 248, 255, 0);
  color: #d3ab55;
  font-size: 15px;
  font-weight: 800;
  margin: 50px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family: Sahel, Tahoma;
}

.main-btn:hover {
  background-color: #d3ab55;
  color: #000;
}

main {
  padding: 100px 0;
}

.about {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 60px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text {
  width: 50%;
}

@media (max-width: 800px) {
  .about-text {
    width: 70%;
  }
}

.about-text .about-paragraf {
  font-family: "Gulzar", serif;
  font-size: 20px;
}

.about-text h1 {
  font-size: 50px;
}

@media (max-width: 800px) {
  .about-text h1 {
    font-size: 40px;
  }
}

.about-Star i {
  padding: 5px;
  color: #d3ab55;
}

.about-img img {
  width: 350px;
  position: absolute;
  left: -0px;
  top: 780px;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  z-index: -10;
  opacity: .6;
}

@media (max-width: 800px) {
  .about-img img {
    opacity: .4;
  }
}

.gallery-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  overflow: scroll;
}

@media (min-width: 700px) {
  .gallery-main {
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery-main .gallery-card {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .gallery-main .gallery-card {
    width: 33.3333%;
  }
}

.gallery-main .gallery-card:hover .gallery-card-overlay {
  left: 0;
}

.gallery-main .gallery-card-overlay {
  position: absolute;
  background-color: rgba(211, 171, 85, 0.6);
  width: 100%;
  height: 100%;
  left: -100%;
  -webkit-transition: left 1s;
  transition: left 1s;
  line-height: 40px;
}

.gallery-main .gallery-card-overlay h1 {
  margin-top: 10%;
  font-family: Nastaliq, Tahoma;
  font-size: 50px;
  font-weight: 500;
}

.gallery-main img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 100%;
}

@media (min-width: 700px) {
  .gallery-main img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.btn-gallery {
  width: 150px;
  height: 40px;
  color: #d3ab55;
  background-color: #fff;
  font-size: 14px;
  border: 2px solid #d3ab55;
  border-radius: 30px;
  font-weight: bold;
  font-family: Sahel, Tahoma;
}

@media (max-width: 800px) {
  .btn-gallery {
    width: 130px;
    height: 30px;
  }
}

footer {
  margin: -50px 0 70px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: Center;
      -ms-flex-pack: Center;
          justify-content: Center;
}

.social-media .social-media-item {
  font-size: 50px;
  list-style: none;
}

.social-media-link {
  color: #bbb;
  letter-spacing: 30px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.social-media-link:hover {
  color: #d3ab55;
}

.menu-H {
  width: 50px;
  height: 5px;
  background-color: #d3ab55;
  line-height: 0px;
  margin-top: 10px;
}

.menu {
  position: fixed;
  z-index: 13;
  top: 50px;
  right: 100px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0px;
}

.nav .navbar {
  background-color: #333333;
  width: 50%;
  height: 100%;
  position: relative;
}

.nav .navbar img {
  display: block;
}

.navbar1 {
  right: -100%;
  -webkit-transition: right 1s;
  transition: right 1s;
}

.navbar2 {
  left: -100%;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.menu:hover .navbar1 {
  right: 50%;
}
/*# sourceMappingURL=style.css.map */